.equipment-accounting-edit-moving {

}

.equipment-accounting-edit-moving-dynamic {
  margin: 50px 0 0;
  &__title {
    padding: 0 35px;
  }
}


.equipment-accounting-edit-moving-connected {
  margin: 50px 0 0;
  &__title {
    padding: 0 35px;
  }
}
