.model-edit {
  margin-top: 30px;
  padding: 0 35px;

  &__error {
    font-size: 10px;
    color: red;
  }
}

.model-edit-name {
  width: calc(50% - 15px);
  &__label {
    font-size: 13px;
    font-family: "IBMPlexSansRegular", sans-serif;
  }
  &__input[type="text"] {
    width: 100%;

    background-color: #F2F3F5;
    border: transparent;
  }
}

.model-edit-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 0;
  padding: 0;

  list-style: none;
}

.model-edit-fields-item {
  width: calc(50% - 15px);
  margin: 10px 0;
  &__input[type="text"] {
    width: 100%;
    height: 36px;

    line-height: 32px;

    background-color: #F2F3F5;
    border: transparent;
    border-radius: 4px;
    &::placeholder {
      color: #7A838E;
    }
  }
  &__label {
    margin-bottom: 3px;

    font-size: 13px;
    font-family: "IBMPlexSansRegular", sans-serif;
  }
  &--checkbox {
    label {
      display: flex;
      align-items: center;
    }
  }
  &--select {

  }
  &--range {
    .model-edit-fields-item__input[type="text"] {
      width: calc(50% - 10px);
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
  &--file {
    label {
      display: block;
    }
    .model-edit-fields-item__input {
      display: none;
    }
    .model-edit-fields-item-file {

    }
    .model-edit-fields-item-file__placeholder {
      height: 36px;
      padding: 0 13px;
      font-size: 13px;
      line-height: 36px;
      font-weight: normal;
      font-family: "IBMPlexSansMedium", sans-serif;
      color: #7A838E;
      background-color: #F2F3F5;
      border-radius: 4px;
      box-shadow: none;
      box-sizing: border-box;
      cursor: pointer;
      &.fill {
        color: #596890;
      }
    }
  }
  &--folder {
    width: 100%;
    padding-bottom: 5px;

    border-bottom: 1px solid #F2F3F5;

    .model-edit-fields-item__label {
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      font-family: "IBMPlexSansMedium", sans-serif;
      color: #596890;
    }
  }
}

.model-edit-fields-item-folder {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0 0;

  border-bottom: 1px solid #F2F3F5;

  &__label {
    margin-bottom: 9px;

    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: "IBMPlexSansMedium", sans-serif;
    color: #596890;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //margin: 30px 0 0;
    padding: 6px 0 12px;

    border-top: 1px solid #F2F3F5;
  }
}
