.home-devices-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 40px) / 3);
  //margin-right: 20px;
  margin-bottom: 20px;
  padding: 13px 15px 22px;

  border: 1px solid #E5E5E5;
  border-radius: 5px;
  &__title {
    font-size: 14px;
    line-height: 18px;
    font-family: "IBMPlexSansMedium", sans-serif;
    color: #353E55;
  }
  &__subtitle {
    display: flex;
    margin-top: 4px;
  }
  &__status {
    width: 10px;
    height: 10px;
    margin-right: 5px;

    border-radius: 50%;
    &--online {
      background-color: #29D63B;
    }
    &--offline {
      background-color: #C80000;
    }
  }
  &__desc {
    font-size: 10px;
    line-height: 13px;
    font-family: "IBMPlexSansMedium", sans-serif;
    color: #596890;
  }
  &__triggers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
  }
  &__tabs {
    margin-top: auto;
  }
}

.home-devices-card-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0 11px 1px 7px;

  font-size: 9px;
  line-height: 9px;
  font-family: "IBMPlexSansMedium", sans-serif;
  color: #596890;

  border: 1px solid #E5E5E5;
  border-radius: 2px;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    width: 7px;
    height: 2px;
    margin-right: 6px;
  }
  &.active {
    color: #fff;
    background-color: #9AA3BA;
    border-color: #9AA3BA;
  }
  &__i {
    &:before {
      background-color: #113FB4;
    }
  }
  &__ang {
    &:before {
      background-color: #F9D30A;
    }
  }
  &__t {
    &:before {
      background-color: #9D11B4;
    }
  }
  &__rfid_hold {
    &:before {
      background-color: #11B448;
    }
  }
  &__t_air {
    &:before {
      background-color: #B4115F;
    }
  }
}
