.inner-title {
  font-size: 15px;
  line-height: 20px;
  font-family: "IBMPlexSansSemiBold", sans-serif;
  color: #353E55;
}

.inner-desc {
  margin-top: 8px;

  font-size: 12px;
  line-height: 16px;
  font-family: "IBMPlexSansRegular", sans-serif;
  color: #353E55;
}
