.material-accounting {
  &__factory-number {
    width: 131px;
  }
  &__model {
    width: 252px;
  }
  &__manufacturers {
    width: 178px;
  }
  &__material-type {
    width: 145px;
  }
  &__quantity {
    width: 135px;
  }
  &__validation {}
}
