.equipment-accounting-edit-moving-connected-table {
  margin: 20px 0 0;
  &__date {
    width: 100px;
  }
  &__equipment {
    flex-grow: 1;
  }
  &__position {
    width: 140px;
  }
  &__device {
    width: 300px;
  }
  &__status {
    width: 120px;
  }
}
