.directories-slug-table-hierarchic {
  margin-top: 30px;
  &__name {

  }
  &__abbr {
    width: 160px;
  }
  &__description {
    width: 250px;
  }
}

.directories-slug-table-hierarchic-add {
  width: 155px;
  margin: 30px 0 0 35px;
}
